*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    background-color:teal;
display: inline-block;
/* display: flex; */
column-width: 2000px;
}
.hero-title{
    font-size: 36px;
    font-family: Raleway, sans-serif;
        font-weight: 700;
        text-align: center;
        line-height: 1.19;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        text-align: center;
}
.books{
    display: flex;
    flex-wrap: wrap;
           gap: 10px;
}
h2{
    color: greenyellow;
}
/* .textbook:nth-child(3n + 2){
    margin:0 10px;
    /* padding:5px; */
*/
.textbook{
    padding:30px;
}

.ukr-books{
    display: flex;
 gap: 30px;
}
.pidruch{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 24px;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        text-align: center;
        line-height: 1.19;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
       
}
.weather{
    display: flex;
    flex-direction: column;
    padding: 40px 0 60px;
    align-items: center;
    width: 395px;
    height: 675px;
    background-color: #4440F6;
    color: #ffffff;
    border-radius: 4px;

}

.weatherImg{
    margin: 90px 0;
}
.date{
    margin-bottom: 28px;
    font-size: 38px;
}
.weekWeather{
    display: flex;
    width: 177px;
    height: 42px;
    border-radius: 10px;
    margin-top: auto;
    background-color: rgba(254, 254, 255, 0.3);
    text-align: center;
   justify-content: center;
   align-items: center;
  cursor: pointer;
  text-decoration: none; 
  font-size: 20px;
}
.degree{
font-size: 64px;
}
.location{
    font-size: 20px;
}