*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    padding: 16px;
    font-family: roboto;
    background-color:teal;
display: inline-block;
/* display: flex; */
column-width: 2000px;
}

.weather{

    display: flex;
    flex-direction: column;
    padding: 40px 0 60px;
    align-items: center;
    width: 395px;
    height: 675px;
    background-color: #4440F6;
    color: #ffffff;
    border-radius: 4px;
    margin-right: auto;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.navigation{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.weatherImg{
    /* margin: 90px 0; */
}
.date{
    margin-bottom: 28px;
    font-size: 38px;
}
.weekWeather{
    display: flex;
    width: 177px;
    height: 42px;
    border-radius: 10px;
    margin-top: auto;
    background-color: rgba(254, 254, 255, 0.3);
    text-align: center;
   justify-content: center;
   align-items: center;
  cursor: pointer;
  text-decoration: none; 
  font-size: 20px;
}
.degree{
font-size: 64px;
}
.location{
    font-size: 20px;
}